.backdrop {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  margin: 0 auto;
  background-color: var(--background-heder-);
  transform: translate(-50%, -50%);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--background-heder-);
  border: var(--background-heder-);
  padding: 0;
}
.button-item-main {
  width: 30px;
  height: 30px;
  background-color: var(--background-heder-);
  border: var(--background-heder-);
  padding: 0;
  color: var(--color-general-);
}
.close-svg {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-item {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 6px;

  &:hover {
    color: var(--color-second-);
    cursor: pointer;
  }
}
