.logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-second {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo--footer {
  color: var(--background-heder-);
}
