.header {
  position: relative;
}

.mobile-menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and(min-width:768px) {
    display: none;
  }
}
.mobile-menu-button .mob-icon-cross {
  display: none;
}

.mobile-menu-button.is-open .mob-icon-cross {
  display: block;
}

.mobile-menu-button.is-open .mob-icon-menu {
  display: none;
}

.menu-container.is-open .page-header__logo {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  border: 1px solid tomato;

  background-color: #ffffff;
  text-align: start;

  &.is-open {
    display: block;
  }
  @media screen and (max-width) {
  }
}

.site-nav__mob {
  margin-bottom: 48px;
  margin-left: 40px;
  margin-bottom: 302px;
  color: #212121;
}

.mob-site__link {
  font-size: 40px;
  line-height: 1.18;
  margin-bottom: 32px;
}
.mob__active {
  color: #2196f3;
}

.site-nav-mob__link {
  color: #212121;
}

// .mob-site__link {
//   margin: 0;
//   padding: 0;
// }

.header-contact__mob {
  margin-bottom: 64px;
  margin-left: 40px;
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.mob-menu__social-list {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  width: 357px;
}

.mob-menu__social-link {
}
.mob-menu__social-item {
  margin: 10px 0 0 10px;
  padding-right: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
