.section {
  padding: 94px 0;
}

.section-mod {
  padding: 94px 0;
  padding-bottom: 0;
  margin: 0 auto;
}

.grid__title {
  color: var(--color-general-);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.grid {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.grid__text {
  font-size: 14px;
  line-height: 1.71;
}

.grid__item {
  width: 270px;
  padding-left: 0;
}
.grid__item:not(:last-child) {
  margin-right: 30px;
}

.grid__icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-portf-button);
  display: block;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* _____________________________________________________________________ */

.work__title {
  color: var(--color-general-);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__product {
  position: relative;
  width: 370px;
  height: 294px;
}

.work__product-title {
  position: absolute;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--color-h1-);
  padding-top: 27px;
  bottom: 0;
}
