.page-footer {
  width: 100%;
  background-color: var(--background-scond);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__contact {
  margin-right: 70px;
}

.page-footer__adress {
  padding-top: 20px;
}
.adsress-styles {
  color: var(--color-h1-);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-left: 0;
}

.contact {
  padding-left: 0;
  margin: 0;
}
.contact .cont-list {
  color: var(--color-text-);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-list:hover,
.cont-list:focus {
  color: var(--color-second-);
}

.page-footer__sotial {
  margin-right: 93px;
}

.page-footer_title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-h1-);
  text-transform: uppercase;
}
.footer-sotial__item {
  padding: 0;
  margin: 0;
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}
.page-footer__social {
  fill: var(--color-h1-);
}
.page-footer__social {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--background-button-);
  }
}

.rossylka input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.rossylka button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--background-heder-);
}
.text-send {
  margin-right: 10px;
}
.icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
}
