.social-networks__list {
  width: 206px;
  display: flex;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-between;
  padding: 0;
}
.social-networks__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--background-button-);
    color: var(--background-heder-);
  }
}
.social-networks__title {
  width: 20px;
  height: 20px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
