:root {
  --color-general-: #212121;
  --color-second-: #2196f3;
  --color-h1-: #ffffff;
  --color-text-: #757575;
  --background-scond: #2f303a;
  --background-button-: #2196f3;
  --background-heder-: #ffffff;
  --background-general: #e5e5e5;
  --background-portf-button: #f5f4fa;
}
